<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002006310217-s8mn7ik49fep1h10kcre7n4r79ho0j30.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002006310217-s8mn7ik49fep1h10kcre7n4r79ho0j30</string>
	<key>API_KEY</key>
	<string>AIzaSyCpJFctJs8G1FNWJABrznAj52XQ4aZTFtg</string>
	<key>GCM_SENDER_ID</key>
	<string>1002006310217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.orca</string>
	<key>PROJECT_ID</key>
	<string>forum-40aed</string>
	<key>STORAGE_BUCKET</key>
	<string>forum-40aed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002006310217:ios:0dbbe4d5934636f9e0fe98</string>
	<key>DATABASE_URL</key>
	<string>https://forum-40aed-default-rtdb.firebaseio.com</string>
</dict>
</plist>